<!-- <form (ngSubmit)="onSubmit()"> -->
<form>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="add email" />
  </div>
  <div class="form-control">
    <label for="password">Contact</label>
    <input
      type="text"
      name="password"
      id="password"
      placeholder="Enter your password"
    />
  </div>

  <!-- <input type="submit" value="Login" class="btn btn-block" /> -->
  <a routerLink="/contact">Login</a>
  <p>You do not have an account. <a href="#">Register</a></p>
</form>
