<form class="add-form">
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="add a name" />
  </div>
  <div class="form-control">
    <label for="contact">Number</label>
    <input type="text" name="contact" id="contact" placeholder="add a number" />
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="add email" />
  </div>
  <div class="form-control">
    <label for="location">Location</label>
    <input
      type="text"
      name="location"
      id="location"
      placeholder="add location"
    />
  </div>
  <div class="form-control">
    <label for="meetplace">where you met</label>
    <input
      type="text"
      name="meetplace"
      id="meetplace"
      placeholder="met place"
    />
  </div>
  <input type="submit" value="Save NUmber" class="btn btn-block" />
</form>
