<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      id="name"
      placeholder="add a name"
    />
  </div>
  <div class="form-control">
    <label for="contact">Contact</label>
    <input
      type="number"
      name="contact"
      [(ngModel)]="contact"
      id="contact"
      placeholder="add a number"
    />
  </div>
  <div class="form-control">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      id="email"
      placeholder="add email"
    />
  </div>
  <div class="form-control">
    <label for="location">Location</label>
    <input
      type="text"
      name="location"
      [(ngModel)]="location"
      id="location"
      placeholder="add location"
    />
  </div>
  <div class="form-control">
    <label for="meetPlace">where you met</label>
    <input
      type="text"
      name="meetPlace"
      [(ngModel)]="meetPlace"
      id="meetPlace"
      placeholder="met place"
    />
  </div>
  <input type="submit" value="Save NUmber" class="btn btn-block" />
</form>
